---
layout: base.njk
title: Reads
---

{% for post in collections.post | reverse %}
<article class="post" id="{{ post.fileSlug }}" data-topics="{{ post.data.topics | join(',') if post.data.topics else '' }}">
  <header class="post-header">
    <h2 class="post-title">{{ post.data.title }}</h2>
    <div class="post-meta">
      <time datetime="{{ post.date | dateIso }}">{{ post.date | readableDate }}</time>
      {% if post.data.topics %}
      <ul class="post-tags">
        {% for topic in post.data.topics %}
        <li><button class="tag" data-tag="{{ topic }}">{{ topic }}</button></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </header>
  <div class="post-content">
    {{ post.templateContent | safe }}
  </div>
</article>
{% endfor %}
